SECRET=your_secret_here
ATLASDB_URL=mongodb+srv://USERNAME:PASSWORD@cluster.example.mongodb.net/wanderlust?retryWrites=true&w=majority
MAP_TOKEN=your_mapbox_token_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_KEY=your_key
CLOUDINARY_SECRET=your_secret
PORT=8080